#define IDM_FILE 10001
#define IDR_MENU1 10000
#define IDM_MENU1 10002
#define IDM_MENU2 10003
#define IDM_EXIT 10004
#define IDC_DUCK 100
#define IDB_BITMAP1 101
#define IDR_ACCEL1 1
#define IDS_STRING1 50000
#define IDD_DIALOG 1000
#define ID_CHANGE 1002
#define ID_CLOSE 1003
#define IDC_X 1001
#define IDC_STR 1004
#define IDC_Y 1005

#include <windows.h>

IDR_MENU1 MENU
BEGIN
  POPUP "&FILE"
  BEGIN
    MENUITEM "MENU&1\tCtrl+S",IDM_MENU1
    MENUITEM "MENU&2",IDM_MENU2
    MENUITEM "&EXIT",IDM_EXIT
  END
END

IDC_DUCK CURSOR DISCARDABLE "C:/Windows/winsxs/amd64_microsoft-windows-shell-cursors_31bf3856ad364e35_6.1.7600.16385_none_a72c807474764763/aero_pen_xl.cur"
IDB_BITMAP1 BITMAP DISCARDABLE "C:/ProgramData/Microsoft/User Account Pictures/Default Pictures/usertile14.bmp"

IDR_ACCEL1 ACCELERATORS
BEGIN
  65,IDM_MENU1,VIRTKEY,CONTROL,NOINVERT
END

STRINGTABLE DISCARDABLE
BEGIN
  IDS_STRING1 "String Resource Test"
END

IDD_DIALOG DIALOGEX 10,10,150,100
CAPTION "Dialog"
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_VISIBLE|WS_OVERLAPPEDWINDOW
BEGIN
  CONTROL "Change",ID_CHANGE,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,120,9,27,9
  CONTROL "Close",ID_CLOSE,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,120,21,27,9
  CONTROL "",IDC_X,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,6,15,24,9,WS_EX_CLIENTEDGE
  CONTROL "",IDC_STR,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,3,36,75,9,WS_EX_CLIENTEDGE
  CONTROL "",IDC_Y,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,42,12,24,9,WS_EX_CLIENTEDGE
END

