#define IDM_FILE 10001
#define IDR_MENU1 10000
#define IDM_MENU1 10002
#define IDM_MENU2 10003
#define IDM_EXIT 10004
#define IDC_DUCK 100
#define IDR_ACCEL1 1
#define IDS_STRING1 50000

IDR_MENU1 MENU
BEGIN
  POPUP "&FILE"
  BEGIN
    MENUITEM "MENU&1\tCtrl+S",IDM_MENU1
    MENUITEM "MENU&2",IDM_MENU2
    MENUITEM "&EXIT",IDM_EXIT
  END
END

IDC_DUCK CURSOR DISCARDABLE "C:/Windows/winsxs/amd64_microsoft-windows-shell-cursors_31bf3856ad364e35_6.1.7600.16385_none_a72c807474764763/aero_pen_xl.cur"

IDR_ACCEL1 ACCELERATORS
BEGIN
  65,IDM_MENU1,VIRTKEY,CONTROL,NOINVERT
END

STRINGTABLE DISCARDABLE
BEGIN
  IDS_STRING1 "String Resource Test"
END

