#define IDR_MENU1 10000
#define IDM_FILE 10001
#define IDM_MENU1 10002
#define IDM_MENU2 10003
#define IDM_EXIT 10004

IDR_MENU1 MENU
BEGIN
  POPUP "FILE"
  BEGIN
    MENUITEM "MENU1",IDM_MENU1
    MENUITEM "MENU2",IDM_MENU2
    MENUITEM "EXIT",IDM_EXIT
  END
END

